body {
    background-color: #f0f8ff;
}

body {
    font-size: 11px;
}

body {
    min-width: 960px;
    min-height: 600px;
    overflow: hidden;
}

body {
    font-family: verdana, geneva, "dejavu sans", sans-serif;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

body {
    font-family: serif;
    font-style: normal;
    font-variant: normal;
}

table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#header {
    position: absolute;
    top: 0px;
    width: 83.85%;
    height: 40px;
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px ridge #b0c4de;
    background-color: #b0c4de;
    overflow: hidden;
}

#center-norm {
    position: absolute;
    left: 17.5%;
    top: 55px;
    width: 79.7%;
    /* Firefox */
    height: -moz-calc(100% -   135px);
    /* WebKit */
    height: -webkit-calc(100% -   135px);
    /* Opera */
    height: -o-calc(100% -   135px);
    /* Standard */
    height: calc(100% -   135px);
    border-radius: 10px;
    padding: 1%;
    border: 5px solid #b0c4de;
    background-color: #f0f8ff;
    overflow: hidden;
}

#center-login {
    position: absolute;
    left: 40%;
    bottom: 50%;
    width: 20%;
    border-radius: 5px;
    padding: 1%;
    border: 5px solid #b0c4de;
    background-color: #f0f8ff;
    overflow: hidden;
}

#center-info {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 40%;
    border-radius: 5px;
    padding: 1%;
    border: 5px solid #b0c4de;
    background-color: #f0f8ff;
    overflow: hidden;
}

#logo {
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    top: -10px"
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 97.7%;
    padding: 1%;
    height: 15px;
    border: 1px ridge #b0c4de;
    background-color: #b0c4de;
    overflow: hidden;
}

#panel {
    position: absolute;
    left: 0px;
    top: 55px;
    width: 15%;
    /* Firefox */
    height: -moz-calc(100% -   135px);
    /* WebKit */
    height: -webkit-calc(100% -   135px);
    /* Opera */
    height: -o-calc(100% -   135px);
    /* Standard */
    height: calc(100% -   135px);
    border-radius: 10px;
    padding: 1%;
    border: 5px solid #b0c4de;
    background-color: #f0f8ff;
    font-size: 12pt;;
    overflow: hidden;
}